.card{
    margin-bottom: 100%;
    padding: 1rem;
}

img{
cursor: pointer;
}

.open{
    border:3px solid lightskyblue;
}

.closed{
    border:3px solid lightcoral;
}
/* .but:hover{ 
    
    box-shadow: 1px 1px 1px 1px !important;
    outline: 0 !important;

} */