<div class="col-3">
    <div class="card" [ngClass]="{'closed' : ocupado=='true','open' : ocupado=='false'}"  style="width: 18rem;">
        <img class="card-img-top" src="{{imagem}}" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">
                 {{cidade}}
            </p>
          <button class="btn btn-light">
              <img class="but" (click)="enviar(id)" src="../../../assets/img/kick.png" alt="Card image cap">
          </button>
        <br/>
          <img *ngFor="let animal of animaisPermitidos" src="../../../assets/img/animais/min/{{animal}}.png">
        </div>
      </div>
</div>
