<div class="col-md-4 offset-4">
    <h3>Entre</h3>
    <form >
        <div class="form-row">
            <div class="col form-group">
                <input class="form-control" type="email" name="email" id="email" placeholder="@" autocomplete="off">
            </div>
        </div>
    
        <div class="form-row">
            <div class="col form-group">
                <input class="form-control" type="password" name="password" id="password" placeholder="*" autocomplete="off">
            </div>
        </div>
    
        <div class="form-row">
            <div class="col form-group">
                <input class="btn btn-primary btn-block" type="button" value="Entrar">
            </div>
        </div>
    </form>
    <hr/>
    <h3>
        Cadastre-se
    </h3>
    <form >
        <div class="form-row">
            <div class="col form-group">
                <input class="form-control" type="email" name="email" id="email" placeholder="@" autocomplete="off">
            </div>
        </div>
    
        <div class="form-row">
            <div class="col form-group">
                <input class="form-control" type="password" name="password" id="password" placeholder="*" autocomplete="off">
            </div>
        </div>

        <div class="form-row">
            <div class="col form-group">
                <input class="form-control" type="password" name="password" id="password" placeholder="*" autocomplete="off">
            </div>
        </div>
    
        <div class="form-row">
            <div class="col form-group">
                <input class="btn btn-primary btn-block" type="button" value="Cadastrar">
            </div>
        </div>
    </form>
</div>
