
  <div class="container">
    <h5>Grupo</h5>
    <p>Carlos Alberto</p>
    <p>Luiz Augusto Mendes Silva</p>
    <h5>Respostas</h5>
    
    <p>Porque escolhemos o framework Angular?</p>
    <p><b>R:</b> 
      Angular foi o último framework estudado, dessa forma era algo mais 
      recente que estava mais fresco. Angular tem um conjunto completo de recursos, 
      nesse caso tudo que era necessário para desenvolver o software já estava disponivel. 
      Toda a documentação de uso foi possível encontrar no próprio site do angular, 
      diferente de bibliotecas instaladas, onde cada uma delas tem um site diferente e 
      padroes diferentes para dar exemplos de uso.</p>
    <p>Quais os três principais benefícios em relação ao React?</p>
    <b>R:</b> 
      <ul>
        <li>Tudo que você precisa, está disponivel no pacote do framework</li>
        <li>Tipagem</li>
        <li>Documentação centralizada</li>
        <li>De forma nativa, a sepatração de js css e html é mais clara</li>
        <li>Particularmente, o uso de class ao invés de className. Achei até uma forma mais facil de portar html/css de outras tecnologias, talvez de legados</li>
      </ul>
    
    <p>Quais possíveis problemas poderemos enfrentar na utilização desse framework?</p>
    <b>R:</b> 
      <ul>
        <li>Curva de aprendizado. Notamos que nos exercicios de React e Vue, com pouco tempo, podemos fazer algo. Já no uso de Angular o tempo é maior</li>
        <li>Um dos integrantes do grupo tem mais contato com linguagens dinamicamente tipadas, o grande beneficio do TS é o tipo. Acreditamos que inicialmente, quem não trabalha direto com tipos enfrentará dificuldades (mesmo que não obrigatório.) </li>
      </ul>
  </div>