
  <div class="container">
    <h5>Grupo</h5>
    <p>Carlos Alberto</p>
    <p>Luiz Augusto Mendes Silva</p>
    <h5>Respostas</h5>
    
    <p>Porque escolhemos o framework Angular?</p>
    
    <p><b>R:</b> 
      Angular foi o último framework estudado, dessa forma era algo mais recente, que estava mais fresco. Angular tem um conjunto completo de recursos, 
      nesse caso tudo que era necessário para desenvolver o software já estava disponível. Foi possível encontrar toda a documentação de uso no próprio site do angular, 
      diferente de bibliotecas instaladas, onde cada uma delas tem um site diferente e 
      padrões diferentes para dar exemplos de uso.</p>

    <p>Quais os três principais benefícios em relação ao React?</p>
    <b>R:</b> 
      <ul>
        <li>Tudo que você precisa disponível no próprio framework, sem necessidade de pacotes adicionais.</li>
        <li>Utilização de tipagem melhora a legibilidade e facilita a organização de projetos maiores.</li>
        <li>Documentação centralizada.</li>
        <li>Separação do JS, CSS e HTML é mais clara, de forma nativa.</li>
        <li>Particularmente, o uso de "class" ao invés de "className". Achamos até uma forma mais fácil de portar HTML/CSS de outras tecnologias, talvez de legados.</li>
      </ul>
    
    <p>Quais possíveis problemas poderemos enfrentar na utilização desse framework?</p>
    <b>R:</b> 
      <ul>
        <li>Curva de aprendizado. Notamos que nos exercícios de React e Vue, em pouco tempo, podemos fazer algo. Já no uso de Angular o tempo é maior.</li>
        <li>Um dos integrantes do grupo tem mais contato com linguagens dinamicamente tipadas, o grande beneficio do TS é o tipo. Acreditamos que inicialmente, quem não trabalha direto com tipos enfrentará dificuldades (mesmo que não obrigatório.) </li>
      </ul>
  </div>